@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: Ubuntu;
  background-color: gray;
}

/* Link formatting */
a {
  text-decoration: none;
  color: #990000;
}

/* Mouseover formatting */
a:hover {
  text-decoration: underline;
}

#codecademy {
  border-style:solid;
  border-color: darkgrey;
  height: 800px;
  width: 400px;
  overflow: scroll;
  padding: 10px;
}

.stoney {
  display: inline-block;
}
