/* Global Styling */

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}

a {
  text-decoration: underline;
  color: seashell;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Header styling */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header .logo {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Main content styling */

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}


/* Store content styling */

#store {
  height: 700px;
  width: 1000px;
  margin:auto;
  padding-top: 70px;
}

.flex-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/* Location content styling */

#locations {
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  padding-top: 70px;
}

.flex-location-items {
  display: flex;
  justify-content: center;
}

.location{
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.flex-container.locations {
  padding-top: 5px;
}

}
/* Contact section styling */

#contact {
  height: 200px;
}

/* Footer section styling */
footer {
  text-align: left;
  padding-left: 20px;
}
